<div class="xm-error-icon label-top" onclick="xm_icon_toggle(this)">
    <div class="xm-error-text label-top xm-text">
        <ul>
            <li>* This field is required</li>
        </ul>
    </div>
</div>