<div class="xm-item-div placeholder">
    <div id="" name="" class="container_checkbox_form">
    </div>

    <div class="xm-error-container">
    <div class="xm-error-icon" onclick="xm_icon_toggle(this)">
    <div class="xm-error-text xm-text">
    </div>
    </div>
    </div>
</div>
