<div id='{{id_div}}' class="xm-item-div label-top label-none CXSelect" cn="XSelect" xi="xi-XSelect-1" xn="sel_salutation">

    <select id="{{id_select}}" name="{{name}}" type="text" vr="true" class="XItem XSelect XDropDown">

        <option value="{{valueopt01}}" idx="{{idxopt01}}" name="{{nameopt01}}">{{{textopt01}}}</option>
        <option value="{{valueopt02}}" idx="{{idxopt02}}" id="{{idopt02}}">{{{textopt02}}}</option>
        <option value="{{valueopt03}}" idx="{{idxopt03}}" id="{{idopt03}}">{{{textopt03}}}</option>

    </select>

    <div class="xm-error-container label-top">
        <div class="xm-error-icon label-top" onclick="xm_icon_toggle(this)">
            <div class="xm-error-text label-top xm-text">
            
            </div>
        </div>
    </div>
</div>


