<p> 

    <strong> {{{strong}}}</strong>{{{text}}} 
    
    <strong> {{{strong01}}}</strong>{{{text01}}} <br>
    
    <strong> {{{strong02}}}</strong>{{{text02}}} 
    
    <strong> {{{strong03}}}</strong>{{{text03}}}

</p>