{{! START BENEFIT }}
<div class="grid">         

        {{! class = icon }}
        {{#icon}}
            {{>atoms-benefit-icon}}
        {{/icon}}

        <div class="content">

            {{#headlineh3}}
                {{>atoms-h3}}
            {{/headlineh3}}

            <div class="text">
            
                {{#text}}
                    {{>atoms-p}}
                {{/text}}
                
            </div>

        </div>    
</div>
{{! ENDE BENEFIT }}

