{{! START HIGHLIGHTS / FEATURES }}

<div class="container_highlights">
    <div class="highlight" id='{{id}}'>
    
        {{#headline}}
            {{>atoms-h2}}
        {{/headline}}
        
        
        {{! START LINK BOX TEXT }}
            {{#icon-text1}}
                {{>molecules-highlight-link-box-text}}
            {{/icon-text1}}
        {{! ENDE LINK BOX TEXT }}
        
        {{! START LINK BOX TEXT }}
            {{#icon-text2}}
                {{>molecules-highlight-link-box-text}}
            {{/icon-text2}}
        {{! ENDE LINK BOX TEXT }}
        
        {{! START LINK BOX TEXT }}
            {{#icon-text3}}
                {{>molecules-highlight-link-box-text}}
            {{/icon-text3}}
        {{! ENDE LINK BOX TEXT }}
        
        {{! START LINK BOX TEXT }}
            {{#icon-text4}}
                {{>molecules-highlight-link-box-text}}
            {{/icon-text4}}
        {{! ENDE LINK BOX TEXT }}
        
        {{! START LINK BOX TEXT }}
            {{#icon-text5}}
                {{>molecules-highlight-link-box-text}}
            {{/icon-text5}}
        {{! ENDE LINK BOX TEXT }}
        
    </div>    
</div>

{{! ENDE HIGHLIGHTS / FEATURES }}