{{! START CONTAINER LEFT/ RIGHT }}

<div class='{{class}}' id='{{}}'>

    {{#headline}}
        {{>atoms-h2}}
    {{/headline}}
    
    {{#picture}}
        {{>atoms-container-twice-image}}
    {{/picture}}

</div>

{{! ENDE CONTAINER LEFT/ RIGHT }}