{{! START CONTAINER LEFT/ RIGHT }}

<div class='{{class}}' id='{{id}}'>

    {{#headline}}
        {{>atoms-h2}}
    {{/headline}}
    
    {{#subtitle}}
        {{>atoms-h3}}
    {{/subtitle}}
    
    {{#picture}}
        {{>atoms-container-twice-image}}
    {{/picture}}
    
    {{#text-unter-bild}}
        {{>atoms-p}}
    {{/text-unter-bild}}     
    
</div>

{{! ENDE CONTAINER LEFT/ RIGHT }}