{{! START CONTAINER LEFT }}

<div class="left" id='{{id}}'>

    {{#headline}}
        {{>atoms-h2}}
    {{/headline}}
    
    {{#text01}}
        {{>atoms-p}}
    {{/text01}}
    
    {{#text02}}
        {{>atoms-p}}
    {{/text02}}
    
    {{#text03}}
        {{>atoms-p}}
    {{/text03}}
    
</div>

{{! ENDE CONTAINER LEFT }}