<!-- START GREEN BLOCK -->

<div class="blockLeft">
    <div class="green_content dark" >          
    
        {{#dreiklang01}}
            {{>atoms-eyecatcher-dreiklang-h1}}
        {{/dreiklang01}}
        
        {{#dreiklang02}}
            {{>atoms-eyecatcher-dreiklang-p}}
        {{/dreiklang02}}
        
    </div>
</div>

<!-- ENDE GREEN BLOCK -->