{{! START LINK BOX TEXT }}

<div class="downloads">

    {{#icon}}
        {{>atoms-highlight-icon}}
    {{/icon}}
    
    <div class="link">
        {{#link}}
            <b>{{>atoms-p}}</b>
        {{/link}}
    </div>

</div>

{{! ENDE LINK BOX TEXT }}