<div class="ce-container-cta">
    <div class="ce-inner-cta">
    
        {{#block1}}
            {{>molecules-e-news-top}}
        {{/block1}}
        
        {{#block2}}
            {{>molecules-e-news-bottom}}
        {{/block2}}
    
    </div>
</div>