<div class="ce-container-cta">
    <div class="ce-inner-cta">

        {{#headline}}
            {{>atoms-h2-orange}}
        {{/headline}}
        
        <div class="ce-button-register">
            {{#button}}
                {{>atoms-button-pf-orange}}
            {{/button}}
        </div>
        
    </div>
</div>