<ul class="global-ul">
    <li>
		<span class="global-swatch" style="background: #D0DF00;"></span>
		<span class="global-label">
            P+F Green-Yellow: <br />
			.pf-green-yellow <br />
			#D0DF00
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #D9E533;"></span>
		<span class="global-label">
            P+F Green-Yellow 80%: <br />
			.pf-green-yellow80 <br />
			#D9E533
		</span>
	</li>
     <li>
		<span class="global-swatch" style="background: #E3EC66;"></span>
		<span class="global-label">
            P+F Green-Yellow 60%: <br />
			.pf-green-yellow60 <br />
			#E3EC66
		</span>
	</li> 
    <li>
		<span class="global-swatch" style="background: #ECF299;"></span>
		<span class="global-label">
            P+F Green-Yellow 40%: <br />
			.pf-green-yellow40 <br />
			#ECF299
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #F6F9CC;"></span>
		<span class="global-label">
            P+F Green-Yellow 20%: <br />
			.pf-green-yellow20 <br />
			#F6F9CC
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #8DC8E8;"></span>
		<span class="global-label">
            P+F Light Blue: <br />
			.pf-light-blue <br />
			#8DC8E8
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #A4D3ED;"></span>
		<span class="global-label">
            P+F Light Blue 80%: <br />
			.pf-light-blue80 <br />
			#A4D3ED
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #BBDEF1;"></span>
		<span class="global-label">
            P+F Light Blue 60%: <br />
			.pf-light-blue60 <br />
			#BBDEF1
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #D1E9F6;"></span>
		<span class="global-label">
            P+F Light Blue 40%: <br />
			.pf-light-blue40 <br />
			#D1E9F6
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #E8F4FA;"></span>
		<span class="global-label">
            P+F Light Blue 20%: <br />
			.pf-light-blue20 <br />
			#E8F4FA
		</span>
	</li>
</ul>