<ul class="global-ul">
    <li>
		<span class="global-swatch" style="background: #425563;"></span>
		<span class="global-label">
            P+F Blue-Grey: <br />
			.pf-blue-grey <br />
			#425563
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #687782;"></span>
		<span class="global-label">
            P+F Blue-Grey 80%: <br />
			.pf-blue-grey80 <br />
			#687782
		</span>
	</li>
     <li>
		<span class="global-swatch" style="background: #8E99A1;"></span>
		<span class="global-label">
            P+F Blue-Grey 60%: <br />
			.pf-blue-grey60 <br />
			#8E99A1
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #B3BBC1;"></span>
		<span class="global-label">
            P+F Blue-Grey 40%: <br />
			.pf-blue-grey40 <br />
			#B3BBC1
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #D9DDE0;"></span>
		<span class="global-label">
            P+F Blue-Grey 20%: <br />
			.pf-blue-grey20 <br />
			#D9DDE0
		</span>
	</li>
    <li>
		<span class="global-swatch" style="background: #2C2A29;"></span>
		<span class="global-label">
            P+F Black: <br />
			.pf-black <br />
			#2C2A29
		</span>
	</li>
</ul>