<div class="payment_appointments">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h2-invoice }}
        {{/headline}}
        
        {{#checkbox}}
            {{> atoms-input-checkbox }}
        {{/checkbox}}
        
        {{#text}}
            {{> atoms-font }}
        {{/text}}
        
        {{#link}}
            {{> atoms-link }}
        {{/link}}
        
        {{#link2}}
            {{> atoms-link }}
        {{/link2}}
        
        {{#link3}}
            {{> atoms-link }}
        {{/link3}}
        
        
        
    
    </fieldset> 
</div>