<div class="shopping-cart-login">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        {{#textarea}}
            {{> atoms-textarea }}
        {{/textarea}}
        
        {{#text}}
            {{> atoms-font }}
        {{/text}}
    
    </fieldset> 
</div>