<div class="container_combi container_grid_3x" id="">
    <div class="grid_x2">
    
        <form action="{{action}}" method="post" enctype="multipart/form-data" class="xm-form error-dynamic-view">
        
            <div class="xm-item-div">
                <div id="" name="" class="">
                    <div class="">

                        
                            

                                {{#h2}}
                                    {{>atoms-h2}}
                                {{/h2}}

                                {{#p}}
                                    {{>atoms-p-subtitle}}
                                {{/p}}
                                
                                

                                    {{#select01}}
                                        {{>molecules-selectfield-label-left}}
                                    {{/select01}}

                                    {{#vorname}}
                                        {{>molecules-textfield-label-left}}
                                    {{/vorname}}

                                    {{#nachname}}
                                        {{>molecules-textfield-label-left}}
                                    {{/nachname}}

                                    {{#firma}}
                                        {{>molecules-textfield-label-left}}
                                    {{/firma}}

                                    {{#plz}}
                                        {{>molecules-textfield-label-left}}
                                    {{/plz}}

                                    {{#stadt}}
                                        {{>molecules-textfield-label-left}}
                                    {{/stadt}}

                                    {{#select02}}
                                        {{>molecules-selectfield-label-left}}
                                    {{/select02}}

                                    {{#placeholder}}
                                        {{>atoms-placeholder}}
                                    {{/placeholder}}

                             

                                    {{#telefon}}
                                        {{>molecules-textfield-label-left}}
                                    {{/telefon}}

                                    {{#mail}}
                                        {{>molecules-textfield-label-left}}
                                    {{/mail}}

                                    {{#message}}
                                        {{>molecules-textarea-label}}
                                    {{/message}}

                                    {{#button}}
                                        {{>atoms-form-button-submit}}
                                    {{/button}}

                               
                                
                        

                    </div>
                </div>
            </div>
            
        </form>

    </div>
</div>






          
          


