<div class="container_combi container_grid_3x" id="container_contact_list">
    <div class="grid_x2">
    
        <form action="{{action}}" method="post" enctype="multipart/form-data" class="xm-form error-dynamic-view">
        
            <div class="xm-item-div">
                <div id="" name="" class="XItem XPage">
                    <div class="xm-form-row">

                        
                            

                                {{#h2}}
                                    {{>atoms-h2}}
                                {{/h2}}

                                {{#p}}
                                    {{>atoms-p}}
                                {{/p}}
                                
                                
                                <div id="" name="" class="form_container_left">

                                    {{#select01}}
                                        {{>atoms-selectfield}}
                                    {{/select01}}

                                    {{#vorname}}
                                        {{>atoms-input-textfield}}
                                    {{/vorname}}

                                    {{#nachname}}
                                        {{>atoms-input-textfield}}
                                    {{/nachname}}

                                    {{#firma}}
                                        {{>atoms-input-textfield}}
                                    {{/firma}}

                                    {{#plz}}
                                        {{>atoms-input-textfield}}
                                    {{/plz}}

                                    {{#stadt}}
                                        {{>atoms-input-textfield}}
                                    {{/stadt}}

                                    {{#select02}}
                                        {{>atoms-selectfield}}
                                    {{/select02}}

                                    {{#placeholder}}
                                        {{>atoms-placeholder}}
                                    {{/placeholder}}

                                </div>
                        
                                <div id="" name="" class="form_container_right">

                                    {{#telefon}}
                                        {{>atoms-input-textfield}}
                                    {{/telefon}}

                                    {{#mail}}
                                        {{>atoms-input-textfield}}
                                    {{/mail}}

                                    {{#message}}
                                        {{>atoms-textarea}}
                                    {{/message}}

                                    {{#button}}
                                        {{>atoms-form-button-submit}}
                                    {{/button}}

                                </div>
                                
                        

                    </div>
                </div>
            </div>
            
        </form>

    </div>
</div>






          
          