{{#headline}}
    {{> atoms-font-h1-green }}
{{/headline}}
    
{{#text1}}
    {{>atoms-p}}
 {{/text1}}
    
{{#text2}}
    {{>atoms-p}}
{{/text2}}


<form action="" method="post" enctype="multipart/form-data" class="xm-form error-dynamic-view">
<div class="loading"></div>

<noscript>&lt;div class="jsinfo"&gt;
	Zur optimalen Darstellung des Formulars ist aktiviertes JavaScript erforderlich!
	&lt;br&gt;
	For an optimal representation of the form activated JavaScript is required!
&lt;/div&gt;
</noscript>

<div class="xm-content">
    <div class="xm-item-div  label-none CXPage" style="display: inline-table;" cn="XPage" xi="xi-XPage-1" xn="p1">
        <div id="xi-XPage-1" name="p1" style="max-width:900px;  min-width:300px; " class="XItem XPage">



            {{#anrede}}
                {{>molecules-selectfield-label-left-required}}
            {{/anrede}}

            {{#vorname}}
                {{>molecules-textfield-label-left-required}}
            {{/vorname}}

            {{#nachname}}
                {{>molecules-textfield-label-left-required}}
            {{/nachname}}

            {{#unternehmen}}
                {{>molecules-textfield-label-left-required}}
            {{/unternehmen}}

            {{#Idnr}}
                {{>molecules-textfield-label-left-required}}
            {{/Idnr}}

            {{#email}}
                {{>molecules-textfield-label-left-required}}
            {{/email}}

            {{#tele}}
                {{>molecules-textfield-label-left-required}}
            {{/tele}}

            {{#plz}}
                {{>molecules-textfield-label-left-required}}
            {{/plz}}

            {{#ort}}
                {{>molecules-textfield-label-left-required}}
            {{/ort}}

            {{#straße}}
                {{>molecules-textfield-label-left-required}}
            {{/straße}}

            {{#land}}
                {{>molecules-selectfield-label-left-required}}
            {{/land}}



            {{#button}}
                {{>atoms-form-button-register}}
            {{/button}}
        
        
        </div>
    </div>
</div>