{{#headline}}
    {{>atoms-h1}}
{{/headline}}

{{#subtitle}}
    {{>atoms-h2}}
{{/subtitle}}

<form action="" method="" enctype="" class="xm-form error-dynamic-view">

    <div class="loading"></div>
    <noscript>
        <div class="jsinfo">
            Zur optimalen Darstellung des Formulars ist aktiviertes JavaScript erforderlich!
            <br>
            For an optimal representation of the form activated JavaScript is required!
        </div>
    </noscript>

    <div class="xm-content">
		<div class="xm-item-div label-none CXPage" cn="XPage" xi="xi-XPage-1" xn="p1">
			<div class="header"> </div>
			<div id='{{id}}' name='{{name}}' class='XItem XPage'>
				<div class="xm-form-row">

					<div class="xm-item-div  label-none CXContainer" cn="XContainer" xi="xi-XContainer-1" xn="div1">
						<div id="xi-XContainer-1" name="div1" class="XItem XContainer form_container_left">

							{{#anrede}}
								{{>atoms-selectfield-placeholder}}
							{{/anrede}}

							{{#vorname}}
								{{>atoms-input-textfield-placeholder}}
							{{/vorname}}

							{{#nachname}}
								{{>atoms-input-textfield-placeholder}}
							{{/nachname}}

							{{#email}}
								{{>atoms-input-textfield-placeholder}}
							{{/email}}

							{{#telefon}}
								{{>atoms-input-textfield-placeholder}}
							{{/telefon}}

							{{#unternehmen}}
								{{>atoms-input-textfield-placeholder}}
							{{/unternehmen}}

						</div>            
						<div class="xm-error-container label-none">
							<div class="xm-error-icon label-none" onclick="xm_icon_toggle(this)">
								<div class="xm-error-text label-none xm-text"></div>
							</div>
						</div>            
					</div>

					<div class="xm-item-div label-none CXContainer" cn="XContainer" xi="xi-XContainer" xn="div5">
						<div id="xi-XContainer-5" name="div5" class="XItem XContainer form_container_right">

							{{#plz}}
								{{>atoms-input-textfield-placeholder}}
							{{/plz}}

							{{#ort}}
								{{>atoms-input-textfield-placeholder}}
							{{/ort}}

							{{#country}}
								{{>atoms-selectfield-placeholder}}
							{{/country}}

							{{#nachricht}}
								{{>atoms-textarea}}
							{{/nachricht}}

						</div>
					</div>   
				</div>

				<div class="xm-item-div label-none CXContainer" cn="XContainer" xi="xi-XContainer-4" xn="div4">
					<div id="xi-XContainer-4" name="div4" class="XItem XContainer form_container_middle">
						<div class="xm-item-div  label-none CXContainer" cn="XContainer" xi="xi-XContainer-8" xn="div8">
							<div id="xi-XContainer-8" name="div8" class="XItem XContainer form_container_middle ce-row">
								<div class="xm-form-row">
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-11" xn="tf_modno1">

										{{#typbezeichnung}}
											{{>atoms-input-textfield-placeholder}}
										{{/typbezeichnung}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-14" xn="tf_man1">

										{{#hersteller}}
											{{>atoms-input-textfield-placeholder}}
										{{/hersteller}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField"  " cn="XTextField" xi="xi-XTextField-13" xn="tf_descr1">

										{{#prodbeschr}}
											{{>atoms-input-textfield-placeholder}}
										{{/prodbeschr}}

									</div>
								</div>                
							</div>
						</div>

						<div class="xm-item-div  label-none CXContainer" cn="XContainer" xi="xi-XContainer-9" xn="div9">
							<div id="xi-XContainer-9" name="div9" class="XItem XContainer form_container_middle ce-row">
								<div class="xm-form-row">
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-11" xn="tf_modno1">

										{{#typbezeichnung02}}
											{{>atoms-input-textfield-placeholder}}
										{{/typbezeichnung02}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-14" xn="tf_man1">

										{{#hersteller02}}
											{{>atoms-input-textfield-placeholder}}
										{{/hersteller02}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-13" xn="tf_descr1">

										{{#prodbeschr02}}
											{{>atoms-input-textfield-placeholder}}
										{{/prodbeschr02}}

									</div>
								</div>                
							</div>
						</div>

						<div class="xm-item-div  label-none CXContainer" cn="XContainer" xi="xi-XContainer-10" xn="div10">
							<div id="xi-XContainer-10" name="div10" class="XItem XContainer form_container_middle ce-row">
								<div class="xm-form-row">
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-11" xn="tf_modno1">

										{{#typbezeichnung03}}
											{{>atoms-input-textfield-placeholder}}
										{{/typbezeichnung03}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField" cn="XTextField" xi="xi-XTextField-14" xn="tf_man1">

										{{#hersteller03}}
											{{>atoms-input-textfield-placeholder}}
										{{/hersteller03}}

									</div>
									<div class="xm-item-div label-top  label-none CXTextField"  " cn="XTextField" xi="xi-XTextField-13" xn="tf_descr1">

										{{#prodbeschr03}}
											{{>atoms-input-textfield-placeholder}}
										{{/prodbeschr03}}

									</div>
								</div>                
							</div>
						</div>



					</div>    
				</div>
			</div>
		</div>
    </div>


</form>