<fieldset class="fieldset">
    
    {{#legend}}
        {{> atoms-legend }}
    {{/legend}}
    
    {{#checkboxfield}}
        {{> molecules-checkboxfield}}
    {{/checkboxfield}} 
  
    {{> atoms-line}}
    
    {{#checkboxgroup}}
        {{> molecules-checkboxgroup}}
    {{/checkboxgroup}}
  
    
</fieldset>