<fieldset class="XItem XFieldSet">
    
    {{#legend}}
        {{> atoms-legend }}
    {{/legend}}
    
    {{#anrede}}
        {{> molecules-selectfield-label-left-required }}
    {{/anrede}}
    
    {{#vorname}}
        {{> molecules-textfield-label-left-required }}
    {{/vorname}}
    
    {{#nachname}}
        {{> molecules-textfield-label-left-required }}
    {{/nachname}}
    
    {{#mail}}
        {{> molecules-textfield-label-left-required }}
    {{/mail}}
    
    {{#company}}
        {{> molecules-textfield-label-left-required }}
    {{/company}}
    
    {{#street}}
        {{> molecules-textfield-label-left-required }}
    {{/street}}
    
    {{#plz}}
        {{> molecules-textfield-label-left-required }}
    {{/plz}}
    
    {{#place}}
        {{> molecules-textfield-label-left-required }}
    {{/place}}
    
    {{#country}}
        {{> molecules-selectfield-label-left-required}}
    {{/country}}
    
    {{#department}}
        {{> molecules-textfield-label-left }}
    {{/department}}
    
    {{#comment}}
        {{> atoms-textarea-label }}
    {{/comment}}
    
    {{#radio1}}
        {{> atoms-input-radiobutton }}
    {{/radio1}}
    
    {{#text1}}
        {{> atoms-font }}
    {{/text1}}
    
    {{#radio2}}
        {{> atoms-input-radiobutton }}
    {{/radio2}}
    
    {{#text2}}
        {{> atoms-font }}
    {{/text2}}
  
    
</fieldset>