<div class="invoice_details">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h2-invoice }}
        {{/headline}}
        
        {{#names}}
            {{> molecules-textfield-two-in-one-row }}
        {{/names}}
        
        {{#mail}}
            {{> atoms-input-textfield }}
        {{/mail}}
        
        {{#firma}}
            {{> atoms-input-textfield }}
        {{/firma}}
        
        {{#straße}}
            {{> atoms-input-textfield }}
        {{/straße}}
        
        {{#adresse1}}
            {{> atoms-input-textfield }}
        {{/adresse1}}
        
        {{#adresse2}}
            {{> atoms-input-textfield }}
        {{/adresse2}}
        
        {{#plzcity}}
            {{> molecules-textfield-two-in-one-row }}
        {{/plzcity}}
        
        {{#tel}}
            {{> atoms-input-textfield }}
        {{/tel}}
        
        {{#land}}
            {{> atoms-selectfield-placeholder }}
        {{/land}}
        
    
    </fieldset> 
</div>