<div class="order-send">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        {{#text}}
            {{> atoms-font }}
        {{/text}}
        
        {{#text2}}
            {{> atoms-font }}
        {{/text2}}
        
        {{#button}}
            {{> atoms-button-change-order }}
        {{/button}}
        
        {{#oder}}
            {{> atoms-font-bold }}
        {{/oder}}
        
        {{#button2}}
            {{> atoms-order-with-costs}}
        {{/button2}}
        
        
    
    </fieldset> 
</div>