<div class="payment_details">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h2-invoice }}
        {{/headline}}
        
        {{#mwst}}
            {{>molecules-textfield-label-left}}
        {{/mwst}}
        
        {{#conditions}}
            {{> molecules-label-text }}
        {{/conditions}}
        
        {{#ordernumber}}
            {{>molecules-textfield-label-left}}
        {{/ordernumber}}
        
        {{#reference}}
            {{>molecules-textfield-label-left}}
        {{/reference}}
        
    
    </fieldset> 
</div>