<div class="payment_informations">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h2-invoice }}
        {{/headline}}
        
        {{#check1}}
            {{> molecules-checkboxfield}}
        {{/check1}}
        
        {{#check2}}
            {{> molecules-checkboxfield }}
        {{/check2}}
        
        {{#info}}
            {{> atoms-icon }}
        {{/info}}
        
        {{#info2}}
            {{> atoms-label-left }}
        {{/info2}}
        
     
        
    
    </fieldset> 
</div>