<div class="shopping-cart-login">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        <li class="payment-method-invoice">
        
            {{#radiobutton}}
                {{> atoms-input-radiobutton }}
            {{/radiobutton}}

            {{#icon}}
                {{> atoms-icon }}
            {{/icon}}
            
            {{#label}}
                {{> atoms-label }}
            {{/label}}
      
        </li>
    
    </fieldset> 
</div>