<div class="payment_details">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h2-invoice }}
        {{/headline}}
        
        {{#conditions}}
            {{> molecules-label-text }}
        {{/conditions}}
        
        {{#shippingoptions}}
            {{> molecules-selectfield-label-top}}
        {{/shippingoptions}}
        
        {{#groupoptions}}
            {{> molecules-selectfield-label-top}}
        {{/groupoptions}}
        
    
    </fieldset> 
</div>