<div class="shopping-cart-login">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        {{#company}}
            {{> atoms-input-textfield}}
        {{/company}}
        
        {{#street}}
            {{> atoms-input-textfield }}
        {{/street}}
        
        {{#address1}}
            {{> atoms-input-textfield}}
        {{/address1}}
        
        {{#address2}}
            {{> atoms-input-textfield}}
        {{/address2}}
        
        {{#plzcity}}
            {{> molecules-textfield-two-in-one-row}}
        {{/plzcity}}
        
        {{#tele}}
            {{> molecules-textfield-label-top}}
        {{/tele}}
        
        {{#country}}
            {{> molecules-textfield-label-top}}
        {{/country}}
    
    </fieldset> 
</div>