<div class="shopping-cart-login">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        {{#headline2}}
            {{> atoms-font }}
        {{/headline2}}
        
        {{#email}}
            {{> molecules-textfield-label-top }}
        {{/email}}
        
        {{#password}}
            {{> molecules-textfield-label-top}}
        {{/password}}
        
        {{#button}}
            {{> atoms-button-login }}
        {{/button}}
        
        {{#spacer}}
            {{> atoms-spacer }}
        {{/spacer}}
        
        {{#button2}}
            {{> atoms-button-konto }}
        {{/button2}}
        
        {{#link}}
            {{> atoms-link }}
        {{/link}}
    
    </fieldset> 
</div>