<div class="shopping-cart-login-guest">
    <fieldset class="fieldset">

        {{#headline}}
            {{> atoms-font-h1-shopping-cart }}
        {{/headline}}
        
        {{#headline2}}
            {{> atoms-font }}
        {{/headline2}}
        
        {{#email}}
            {{> molecules-textfield-label-top }}
        {{/email}}
        
        {{#button}}
            {{> atoms-button-login }}
        {{/button}}
        
        {{#text}}
            {{> atoms-font }}
        {{/text}}
        
        {{#button2}}
            {{> atoms-button-konto }}
        {{/button2}}
        
        {{#link}}
            {{> atoms-label }}
        {{/link}}
    
    </fieldset> 
</div>