{{! START DYNAMIC CONTENT }}


<div class='container_combi container_grid {{background_change}}' id='{{id}}'> 

    {{#headline}}
        {{>atoms-h2}}
    {{/headline}}
        
    
    
    {{! <div class="flex"> }}
        
        {{! START BENEFIT classes = grid, icon, content, text }}
            {{#benefit01}}
                {{>molecules-benefit}}
            {{/benefit01}}
        {{! ENDE BENEFIT }}
        
        {{! START BENEFIT classes = grid, icon, content, text }}
            {{#benefit02}}
                {{>molecules-benefit}}
            {{/benefit02}}
        {{! ENDE BENEFIT }}

        {{! START BENEFIT classes = grid, icon, content, text }}
            {{#benefit03}}
                {{>molecules-benefit}}
            {{/benefit03}}
        {{! ENDE BENEFIT }}

        {{! START BENEFIT classes = grid, icon, content, text }}
            {{#benefit04}}
                {{>molecules-benefit}}
            {{/benefit04}}
        {{! ENDE BENEFIT }}
        
    {{! </div> }}
      
      
     
  </div>
  
  
  {{! ENDE DYNAMIC CONTENT }}