{{! START BLACKBOX CONTENT }}

<div class='container_combi container_blackbox {{background_change}}' >

    {{#headline}}
        {{>atoms-h2}}
    {{/headline}}
    
    {{#video}}
        {{>atoms-mlp-video}}
    {{/video}}
    
    {{#text-video}}
        {{>atoms-p}}
    {{/text-video}}

</div>

{{! ENDE BLACKBOX CONTENT }}