{{! START CONTAINER TWICE }}

<div class="container_combi container_twice" id='{{id}}'>


    {{! START CONTAINER left }}
        {{#container-left}}
            {{>molecules-container-2-elements-CallToAction}}
        {{/container-left}}
    {{! ENDE CONTAINER left}}

    {{! START HIGHLIGHT / FEATURES }}
        {{#container-right}}
            {{>molecules-container-2-elements-Highlight}}
        {{/container-right}}
    {{! ENDE HIGHLIGHT / FEATURES }}
    

{{! ENDE CONTAINER TWICE }}

</div>