{{! START CONTAINER OTHER }}
<div class='container_combi container_grid_3x {{background_change}}' id='{{id_div}}'> 

    {{#form}}
        {{>organisms-contact-placeholder}}
    {{/form}}

    {{#moreinfo}}
        {{>molecules-container-3-elements-LinkList}}
    {{/moreinfo}}

    {{! END CONTAINER OTHER}}
    
</div>