<div class='container_combi container_twice {{background_change}}' id='{{}}'>

    {{#container-left}}
        {{>molecules-container-2-elements-Image}}
    {{/container-left}}
    
    {{#container-right}}
        {{>molecules-container-2-elements-Highlight}}
    {{/container-right}}

</div>