<div class='container_combi container_twice' id='{{id_div}}'>

    {{#container-left}}
        {{>molecules-container-2-elements-TextWithImage}}
    {{/container-left}}

    {{#container-right}}
        {{>molecules-container-2-elements-TextWithImage}}
    {{/container-right}}

</div>