<!--START EYECATCHER-->

<div class="container_eyecatcher" id="" >  

    <div class="ImageSlice">
        {{#image}}
            {{>atoms-eyecatcher-image}}
        {{/image}}         
    </div>
    
   
    {{! class = blockLeft & green_content dark }}
    {{#block}}
        {{>molecules-eyecatcher-green-block}}
    {{/block}}      
   

</div>
<!-- ENDE EYECATCHER -->