<div class="checkboxgroup">

    {{#checkbox1}}
        {{>molecules-checkboxfield}}
    {{/checkbox1}}
    
    {{#checkbox2}}
        {{>molecules-checkboxfield}}
    {{/checkbox2}}
    
    {{#checkbox3}}
        {{>molecules-checkboxfield}}
    {{/checkbox3}}
    
    {{#checkbox4}}
        {{>molecules-checkboxfield}}
    {{/checkbox4}}
    
    {{#checkbox5}}
        {{>molecules-checkboxfield}}
    {{/checkbox5}}
    
    {{#checkbox6}}
        {{>molecules-checkboxfield}}
    {{/checkbox6}}
    
    {{#checkbox7}}
        {{>molecules-checkboxfield}}
    {{/checkbox7}}
    
    {{#checkbox8}}
        {{>molecules-checkboxfield}}
    {{/checkbox8}}
    
    {{#checkbox9}}
        {{>molecules-checkboxfield}}
    {{/checkbox9}}
    
    {{#checkbox10}}
        {{>molecules-checkboxfield}}
    {{/checkbox10}}
    
    {{#checkbox11}}
        {{>molecules-checkboxfield}}
    {{/checkbox11}}
 
</div>