<div class="xm-item-div label-right " style=" width:100%; " cn="XCheckbox" xi="xm-item-XCheckbox-1" xn="cbA" {{status}}>

        {{#checkbox}}
            {{>atoms-input-checkbox}}
        {{/checkbox}}

        {{#label}}
            {{>atoms-label}}
        {{/label}}

    <div class="xm-error-container label-right">
    <div class="xm-error-icon label-right" onclick="xm_icon_toggle(this)">
    <div class="xm-error-text label-right xm-text">

    </div>
    </div>
    </div>
</div>