<div class="xm-item-div label-top error" style=" width:100%; " cn="XTextField" xi="xi-XTextField-3" xn="tf_lastname">    

        <input id="{{id}}" name="{{name}}" class="XItem XTextField" vr="true" vmxl="255" vmnl="0" placeholder="{{placeholder}}" type="text" value="" maxlength="255">
        
        <div class="xm-error-container label-top">
        
            <div class="xm-error-icon label-top" onclick="xm_icon_toggle(this)">
            
                <div class="xm-error-text label-top xm-text">
                    <ul>
                        <li>* This field is required</li>
                    </ul>
                </div>
                
            </div>
            
        </div>  
    
</div>