<div class="XItem XSelect XRadio">

    {{#radiobutton1}}
        {{>molecules-radiobuttonfield}}
    {{/radiobutton1}}
    
    <br>
    
    {{#radiobutton2}}
        {{>molecules-radiobuttonfield}}
    {{/radiobutton2}}
    
    <br>
    
    {{#radiobutton3}}
        {{>molecules-radiobuttonfield}}
    {{/radiobutton3}}

</div>