<div class="xm-item-div label-left CXSelect">

    

        {{#label}}
            {{>atoms-label-left}}
        {{/label}}

        {{#dropdown}}
            {{>atoms-selectfield}}
        {{/dropdown}}

    

    <div class="xm-error-container label-left label-none">
        <div class="tc"></div>
            <div class="xm-error-icon label-left label-none" onclick="xm_icon_toggle(this)">
                <div class="xm-error-text label-left label-none xm-text">
                </div>
            </div>
        
    </div>

</div>