<div class="textfield-two-in-one-row">

    
    
        {{#textfield1}}
            {{> atoms-input-textfield }}
        {{/textfield1}}

        {{#textfield2}}
            {{> atoms-input-textfield }}
        {{/textfield2}}

   

</div>