<div class="xm-item-div label-top " style=" width:100%; " cn="XTextArea" xi="xi-XTextArea-1" xn="ed_message">

    {{#textarea}}
        {{>atoms-textarea}}
    {{/textarea}}

    <div class="xm-error-container label-top">
    <div class="xm-error-icon label-top" onclick="xm_icon_toggle(this)">
    <div class="xm-error-text label-top xm-text">
    </div>
    </div>
    </div>

</div>