<div class="textfield-error-label">

    {{#label}}
        {{> atoms-label }}
    {{/label}}
    
    {{#red-star}}
        {{> atoms-required-red-star }}
    {{/red-star}}
    
    {{#textfield-error}}
        {{> atoms-input-textfield-error}}
    {{/textfield-error}}

</div>