<div class="xm-item-div label-left CXTextField"">

    

        {{#label}}
            {{>atoms-label-left}}
        {{/label}}

        {{#textfield}}
            {{>atoms-input-textfield}}
        {{/textfield}}

        <div class="xm-error-container label-left label-none">
            <div class="tc">
            </div>
            <div class="xm-error-icon label-left label-none" onclick="xm_icon_toggle(this)">
                <div class="xm-error-text label-left label-none xm-text">

                    <ul>
                        <li>{{{error_text}}}</li>
                    </ul>

                </div>
            </div>
        </div>
    
    
    
</div>