<div class="xm-item-div label-top">

    {{#input}}
        {{>atoms-input-textfield}}
    {{/input}}

    <div class="xm-error-container label-top">
    <div class="xm-error-icon label-top" onclick="xm_icon_toggle(this)">
    <div class="xm-error-text label-top xm-text">
    </div>
    </div>
    </div>

</div>