<div class="ce-block-text-center">    

        {{#text-p}}
            {{>atoms-p}}
        {{/text-p}}


        <ul class="list">
            {{#link01}}
                {{>atoms-link}}
            {{/link01}}

            {{#link02}}
                {{>atoms-link}}
            {{/link02}}
        </ul>

    

</div>