    {{#headline}}
        {{>atoms-h2-orange}}
    {{/headline}}

    <div class="ce-block-text">
        {{#text-e-news}}
            {{>atoms-p}}
        {{/text-e-news}}
    </div>

    <div class="ce-img-cta">
        {{#image-arrow}}
            {{>atoms-e-news-orange-arrow}}
        {{/image-arrow}}
    </div>

    <div class="ce-button-enews">
        {{#button}}
            {{>atoms-button-pf-orange}}
        {{/button}}
    </div>    